.bg-img img{
    /* background-image: url('../../../images/quote.png');
    background-size: cover; */
    opacity: 0.4;
    padding: 50px;
    margin: 26px -18px 0px 60px;
    
}
.blog-header{
    padding-bottom: 60px;
}
.img-overlay-text{
    padding-top: 60px;
}
.color-card{
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}